<!DOCTYPE html>
<html>
<head>
  <title>Dependency-Track Report for {{ .ProjectName }}</title>
</head>
<body>
  <h1>Dependency-Track Project: {{ .ProjectName }} (Version: {{ .ProjectVersion }})</h1>
  <p>
    <a href="{{ .DTProjectLink }}">View in Dependency-Track</a>
  </p>
</body>
</html>